body, html {
	height: 100%;
	margin: 0;
}

.home{
	background-image: url("../images/olympic-wall.jpg");
	height: 100%;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	z-index: 0;
	/* filter: brightness(40%); */
	color: white;
	font-size: 20px;
}

nav ul {
	margin: 0;
	overflow: hidden;
	padding: 0;
	list-style-type: none;
}

nav li {
	float: right;
}

nav li a {
	text-decoration: none;
	padding: 13px 16px;
	display: block;
	text-align: center;
}

nav li:hover {
	transition: 0.3s;
	border-radius: 10px;
	background-color: rgb(255, 62, 62);
}

